# Aftman
.aftman/

# Wally
/Packages
/wally.lock

# Rojo
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# Project place file
/stateMachine.rbxlx
/publish

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

# Editor's
.vscode/
.idea/
